<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int-mail="http://www.springframework.org/schema/integration/mail"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
		http://www.springframework.org/schema/integration/mail http://www.springframework.org/schema/integration/mail/spring-integration-mail.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<int-mail:imap-idle-channel-adapter
		id="poll-for-email" channel="inboundChannel" java-mail-properties="javaMailProperties"
		auto-startup="true" store-uri="${EMAIL}"
		should-delete-messages="false"
		mail-filter-expression="(subject matches '(?i)(.*)Student ID_(.*)_(.*)') or (subject matches '(?i)(.*)Email Subject(.*)')">
	</int-mail:imap-idle-channel-adapter>

	<util:properties id="javaMailProperties">
		<prop key="mail.imap.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
		<prop key="mail.store.protocol">imaps</prop>
		<prop key="mail.debug">false</prop>
	</util:properties>

	<int:channel id="inboundChannel" />

	<int:chain id="transform-split" input-channel="inboundChannel"
		output-channel="outputChannel">
		<int:transformer>
			<bean class="com.arun.reader.utils.EmailTransformer" />
		</int:transformer>
		<int:splitter>
			<bean class="com.arun.reader.utils.EmailSplitter" />
		</int:splitter>
	</int:chain>

	<int:channel id="outputChannel" />

	<int-file:outbound-channel-adapter
		id="save-as-file" auto-create-directory="true" channel="outputChannel"
		directory-expression="'/tmp/'" />

	
</beans>
